.navbar-nav{
    align-items: center;
}

/* .social-handles{
    display: flex;
    flex-direction: row; 
} */

.layout-1{
    color: yellow;
    font-size: 34px;
    padding: 5px 23px;
    text-align: center;
} 
